html {
    font-family: Quicksand, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(19, 19, 19);
    color: rgb(165, 165, 165);
    box-sizing: border-box;
    border-top: 1px solid rgb(165, 165, 165);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    
}

.navItem {
    width: 100%;
    font-weight: thin;
    letter-spacing: 3px;
    cursor: pointer;
    padding: 1vw;
    box-sizing: border-box;
    border: 1px double rgba(255, 255, 255, 0);
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    display: block;
    color: rgb(165, 165, 165);
    text-decoration: none;
    font-size: 1vw;
}

#logo {
    font-weight: bold;
    color: white;
}

.navItem:hover {
    animation-name: navhover;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#destinations {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
}

.destination {
    min-width: 0;
    margin: 0 3px 10px 3px;
    display: flex;
    flex-basis: 100%;
    position: relative;
    cursor: pointer;
}

.destinationlabel {
    position: absolute;
    bottom: 10px;
    right: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: bolder;
    font-size: 4vw;
    margin: 0;
    color: white;
    opacity: 70%;
}

.destination:hover .destinationlabel {
    opacity: 100%;
}

button {
    background-color: rgb(19, 19, 19);
    border: none;
    outline: none;
}

.buttonright:hover .arrow{
    opacity: 100%;
}

.buttonleft:hover .arrow{
    opacity: 100%;
}

.arrow {
    border: solid rgb(165, 165, 165);
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    opacity: 70%;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

img {
    object-fit: cover;
    min-width: 0;
    min-height: 42vw;
    max-height: 84vw;
}

h1 {
    margin-left: 4px;
    font-size: 1.5vw;
    font-weight: 900;
}

@keyframes navhover {
    to {
        border: 1px double rgb(165, 165, 165);
        border-bottom: 4px solid rgb(165, 165, 165);
    }
}

@font-face {
    font-family: Quicksand;
    src: url(Quicksand.ttf);
}